
insert GRID_COLONNE  (ID_GRID_COLONNE,GRID_ID,CHAMPS_COLONNE,NOM_COLONNE,LISTE_COLONNE,VALEUR_DEFAUT_COLONNE,LARGEUR_COLONNE,CHECK_COLONNE,LONGUEUR_TYPE_COLONNE,ACTIF_COLONNE,VISIBLE_COLONNE,READONLY_COLONNE,MONNAIE_COLONNE,GRID_LISTE_COLONNE,CALCULE_COLONNE,TRONQUER_ZERO_COLONNE,ZERO_VIDE_COLONNE,ACCEPTER_NULL_COLONNE,VISIBLE_DEFAUT_COLONNE,ORDRE_COLONNE,TYPE_COLONNE,ALIGN_COLONNE) values (1809,'121','ORDRE_GRID_COLONNE_USER','ORDRE',NULL,NULL,'80','Z+*','10','1','1','0','0','0','0','0','0','0','1','5','NUMERIC','C')

update [PAGE] set ACTIF_PAGE=0 where ID_PAGE=83


update GRID_COLONNE set ORDRE_COLONNE=0 where VISIBLE_COLONNE=0

update GRID_COLONNE_USER set ORDRE_GRID_COLONNE_USER=0 where VISIBLE_GRID_COLONNE_USER=0

;with CTE as 
(
select ROW_NUMBER() over (partition by GRID_ID order by ORDRE_COLONNE) as ct,*
from GRID_COLONNE
where VISIBLE_COLONNE=1
)
update CTE set ORDRE_COLONNE=ct

update GRID_COLONNE_USER set ORDRE_GRID_COLONNE_USER=ORDRE_COLONNE
from GRID_COLONNE_USER
inner join GRID_COLONNE on GRID_COLONNE.ID_GRID_COLONNE=GRID_COLONNE_USER.GRID_COLONNE_ID
